*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

header{
  background-color: black;

  img{
    width: 200px;
  }

  div{
    a{
      font-size: 2rem;
      } 
  }
}

.titles{
  color: red;
}

.flags{
  height: 100%;
}

.immagine{
  position: relative;
}

.immagine:hover{
  transition: opacity 0.3s ease;
}

.cardbodi{
  position: absolute;

  h5{
    color: white;
  }

  p{
    color: white;
  }
}

.bandierina{
  width: 30px;
}
.grey-star{
  color: grey;
}

.yellow-star{
  color: yellow;
}